[submodule "scatterbrainSDK"]
	path = scatterbrainSDK
	url = https://github.com/Scatterbrain-DTN/ScatterbrainSDK.git

[submodule "RxAndroidBle"]
	path = RxAndroidBle
	url = https://github.com/gnu3ra/RxAndroidBle.git
	branch = metadata
